:root{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}
.container{
    
    padding: 0;
    margin: 0;
    background-color: #202024;
}

.start {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-image: url("img1.jpg");
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.startp a{
    display: flex;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: white;
}

.start .iconhead a{
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid white ;
    text-decoration: none;
    overflow: hidden;
    width: 1em;
    height: 1em;
}
.iconhead{
    padding: 1.8em;
    text-decoration: none;
}

.pic{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    
}
h1{
    color: white;
    z-index: 2;
    
}


.imt1{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: 390px 390px;
    padding: 3.5em 15% 3.5em 15%;
    
}

.picbox{
    height: auto;
    width: 100%;
    background-color: #2c2c31;
    border-radius: 5px;
}



h1{
    color: white;
    font-size: 3em;
}

.startp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

.box {
    color: white;
    background-color: #2c2c31;
    border-radius: 5px;
}

.box .box_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 4px;
}

.box .box_2 p{
    color: gray;
}

.boxcontainer{
    display: grid;
    padding: 4em 0 2em 0;
    background-color: #202024;
}

.button_type {
    WIDTH: auto;
    BACKGROUND-COLOR: AQUA;
    BORDER: NONE;
    COLOR: WHITE;
    PADDING: 10% 38% 10% 38%;
    BORDER-RADIUS: 5PX;
    font-SIZE: 1EM;
}

.footer{
    height: 20em;
    background-color:#1b1b1f;
    flex: block;
    padding-top: 3em;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    text-align: center;
    

}

h2{
    color: white;
    display: flex;
    justify-content: center;
}

.footer .fparrafo p{
    color: gray;
    justify-content: center;
    margin: 0 0 2em 0;
}

.footer .icons ul li{
    color:#39393b;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 50% solid red;
}

.footer .icons ul{
    list-style: none;
    margin: 0 0 2em 0 solid white;
    display: flex;
    justify-content: center;
    
}