
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");
:root{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
   
    
}
header{
    width: 100%;
}
.container{
    
    padding: 0;
    margin: 0;
    background-color: #1b1b1f;
}

.start{
    position: relative;

}

.start video{
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    object-fit: cover;
    height: 70vh;
    width: 100%;
}

.start {
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}

.start .iconhead a{
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid white ;
    text-decoration: none;
    overflow: hidden;
    width: 1em;
    height: 1em;
    position: relative;   
}

.start .iconhead a:hover{
   background-color:  rgba(255, 255, 255, 0);
}
.iconhead{
    padding: 1.8em;
    text-decoration: none;
}

.pic{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    
}
h1{
    color: white;
    z-index: 2;
    font-family: 'Passion One', cursive;
    font-size: 4em;
    font-weight: 400;
    
}


.imt1{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-rows: 390px 390px;
    padding: 3.5em 15% 3.5em 15%;
    overflow: hidden;
    
}

.picbox{
    height: auto;
    width: 100%;
    background-color: #2c2c31;
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    .imt1{
        grid-template-columns: repeat(auto-fit, minmax(30%, 100%));
    }
    only screen and
}



#banner h1 {
    color: white;
    font-size: 5em;
    font-weight: 400;
    font-family: 'Passion One', cursive;
    margin: 0;
}

.startp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 1.5em 0;
    font-weight: 300;
    margin: 0 0 1.5em 0;

}

.box {
    color: white;
    background-color: #2c2c31;
    border-radius: 5px;
}

.box .box_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 4px;
}

.box .box_2 p{
    color: gray;
    text-align: center;
    line-height: 1.5;
}



.boxcontainer{
    display: grid;
    padding: 4em 0 2em 0;
    background-color: #202024;
}

.button_type1 {
    text-decoration: none;
    text-align: center;
    color:white;
    width: 90%;
    background-color: #70c7be;
    padding: 4%;
    font-size: 100%;
    border-radius: 4px;
}
.button_type2 {
    text-decoration: none;
    text-align: center;
    color:white;
    width: 90%;
    background-color: #7f92cf;
    padding: 4%;
    font-size: 100%;
    border-radius: 4px;
}
.button_type3 {
    text-decoration: none;
    text-align: center;
    color:white;
    width: 90%;
    background-color: #9d7ed0;
    padding: 4%;
    font-size: 100%;
    border-radius: 4px;
}
.button_type4 {
    text-decoration: none;
    text-align: center;
    color:white;
    width: 90%;
    background-color: #7f92cf;
    padding: 4%;
    font-size: 100%;
    border-radius: 4px;
   
}
.button_type5 {
    text-decoration: none;
    text-align: center;
    color:white;
    width: 90%;
    background-color: #9d7ed0;
    padding: 4%;
    font-size: 100%;
    border-radius: 4px;
   
}
.button_type6 {
    text-decoration: none;
    text-align: center;
    color:white;
    width: 90%;
    background-color: #70c7be;
    padding: 4%;
    font-size: 100%;
    border-radius: 4px;
  
}

.footer{
    height: 20em;
    background-color:#1b1b1f;
    flex: block;
    padding-top: 3em;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    text-align: center;
    

}

h2{
    color: white;
    display: flex;
    justify-content: center;
}

.footer .fparrafo p{
    color: gray;
    justify-content: center;
    margin: 0 0 2em 0;
    text-align: center;
    line-height: 2;
}

.footer .icons ul li{
    color:#39393b;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 50% solid red;
    
}

.footer .icons ul{
    list-style: none;
    margin: 0 0 2em 0 solid white;
    display: flex;
    justify-content: center;
    
}

.footer .icons ul li a{
    text-decoration: none;
    color:#39393b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid #39393b ;
    text-decoration: none;
    overflow: hidden;
    width: 20%;
    height: 20%;
    padding: 1em;   
    font-size: 0.5em;
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
}

.copyright a{
    border-bottom: 1px dotted;
    color: gray;
    text-decoration: none;
}

.copyright a:hover{
    border-bottom: none;
    text-decoration: none;
}

.footer .icons ul li a:hover{
    color: white;
}